process {
  container = 'ncbi/blast'
}

aws {
  region = "us-west-2"
}

params{
  /*
 * Defines the pipeline inputs parameters (giving a default value for each for them) 
 * Each of the following parameters can be specified as command line options
 */

  blast_type = "blastn"
  project = "00_Test"
  prefix = "output"
  chunksize = 100
  outdir = "s3://genomics-workflow-core/Results/Blast/"
}