// Point to the main script in the repository
manifest {
  name = 'nf-blast'
  author = 'Sunit Jain'
  homePage = 'https://github.com/fischbachlab/nf-blast'
  description = 'Given a fasta file, run any flavor of NCBI blast'
  mainScript = 'main.nf'
  version = '0.0.1'
  defaultBranch = 'main' //github branch name
}

process {
  container = '458432034220.dkr.ecr.us-west-2.amazonaws.com/ncbi/blast:20230822'
}

aws {
  region = "us-west-2"
}

params {
  /*
 * Defines the pipeline inputs parameters (giving a default value for each for them) 
 * Each of the following parameters can be specified as command line options
 */

  blast_type = "blastn"
  chunksize = 1000
  dbsize = 1000000
  outfmt = "'7 std qlen slen qcovs sscinames'"
  max_aln = 500
  db = null
  outdir = "s3://genomics-workflow-core/Results/Blast/"
  project = "00_Test"
  prefix = "output"
}